:root {
    --dark-color: #1a202c;
    --light-color: #f7fafc;
    --primary-color: #4a5568;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: var(--primary-color);
}

.section-title {
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
}

.section-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
}

.footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    padding: 1em;
}