/* styles.css */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1a1a1a;
}

#about, #portfolio, #contact {
    padding: 50px;
    text-align: center;
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.animation-scroll {
    transition: all 0.5s ease-in-out;
}

.animation-click {
    transition: transform 0.3s ease-in-out;
}

.animation-click:active {
    transform: scale(0.9);
}